.card {
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
    align-items: center;
    width: min-content;
	
}
.img{
    background-color: rgba(106, 41, 226, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}
.image {
	margin-top: 20px;
	max-width: 90%;
}

.card-details {
	margin-top: 20px;
}

h2, p {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}
